* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 360px;
    background-color: #EDEDED;
}

.container {
    background-color: #ffffff;
}

header {
    border-bottom: 2px solid #C6C6C6;
    margin-top: 10px;
    position: sticky;
    top: 0;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0;
}

.avatar {
    margin-left: auto;
}

.me-img {
    width: 34px;
    border-radius: 50%;
    
}

.account {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.account img {
    height: 34px;
}

.id h4,
.id p {
    margin: 0;
}

.post {
    margin-bottom: 10px;
}

.post img {
    width: 100%;
    margin: 0;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 5px 0 5px;
}

button {
  border: none;
  background: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.post p {     
    margin: 0 10px 10px 10px;
    font-family: 'Work Sans', sans-serif;
}

.post p:last-of-type {
    padding-bottom: 10px;
}